*{
    box-sizing: border-box;
    margin: 0;
}
header{
    font-family: cursive;
    font-size: 12px;
    opacity: 80%;
    position: relative;
    z-index: 1;
}
li span{
    font-size: 24px;
    font-family: fantasy;
    color: #2B7A78;
}
li div{
    text-align: right;
    font-size: 12px;
    color: #3AAFA9;
    margin-top: -12px;
}
li .input-group{
    margin-top: 8px;
    margin-left: 26px;
}
li .input-group-append{
    margin-top: 0px;
}
li .input-group-append button{
    margin-right: -14px;
}
.modal-body button{
    border-radius: 18px;
}
#bg img{
    width: 100%;
    height: 700px;
    position: fixed;
    z-index: -2;
    opacity: 80%;
}
#bg2 img{
    width: 100%;
    height: 350px;
    position: absolute;
    z-index: -1;
    opacity: 80%;
}
.main_customer .container{
    border: 3px solid white;
}
.index #carouselExampleIndicators img{
    height: 350px;
}
.index #carouselExampleIndicators{
    width: 50%;
    margin: 0 auto;
}
.movie .row{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.movie .col-lg-3{
    text-align: center;
    padding: 10px;
}
.movie img{
    width: 175px;
    height: 250px;
    margin-bottom: 10px;
    transition: transform .2s;
    border-radius: 5px;
}
.movie img:hover{
    transform: scale(1.05);
}
.movie_detail img{
    width: 300px;
    height: 450px;
}
.movie_timeline img{
    width: 350px;
    height: 500px   ;

}
.movie_timeline #list-tab a{
    border: none;
}
.review img{
    width: 200px;
    height: 300px;
}
.review #rate10{
    margin-right: -8px;
}
.review .row i, .movie_detail .row i{
    color: rgb(252, 237, 32);
}
.review #review10 i,.review #review9 i,.review #review8 i,.review #review7 i,.review #review6 i,.review #review5 i,.review #review4 i,.review #review3 i,.review #review2 i,.review #review1 i{
    color: brown;
    margin-left: -8px;
}
.review #reviewnum{
    background-color: limegreen;
    color: white;
    width: 40px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
}
.theater .col-lg-4{
    padding: 10px;
    text-align: center;
}
.theater img{
    width: 200px;
    height: 300px;
    margin-bottom: 10px;
}
.theater .row a{
    color: black;
}
.theater td a{
    background-color: lightgrey;
    border: 1px solid darkgrey
}
.theater .container td a{
    margin: 0 -10px;
}
.reserve #vacant{
    background-color: rgb(38, 165, 38);
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    color: rgb(38, 165, 38);
    font-size: 24px;
}
.reserve #occupied{
    width: 48px;
    background-color: grey;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    color: grey;
    font-size: 24px;
}
.reserve #seat{
    border: 8px solid darkgrey;
}
.reserve .col-lg-1{
    font-size: 24px;
}
.reserve .col-lg-1 div{
    width: 48px;
    background-color: rgb(38, 165, 38);
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
}
.reserve .col-lg-1 p{
    color: white;
    border-radius: 8px;
}
.reserve .col-lg-1 a{
    text-decoration: none;
}
footer{
    opacity: 80%;
}
footer p{
    font-size: 12px;
    margin-bottom: 5px
}
footer a{
    font-size: 20px;
}
footer #facebook{
    color: rgb(66, 103, 178);
}
footer #twitter{
    color: rgb(29, 161, 242);
}
footer #instagram{
    color: rgb(201, 0, 129);
}

